@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&family=Source+Sans+Pro&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css");
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #36424e;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.container {
  display: flex;
}
.container__left {
  width: 35%;
  min-height: 100vh;
  background-color: #ceae82;
}
.container__right {
  width: 65%;
}

h2 {
  text-transform: uppercase;
  font-weight: 800;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: #36424e;
}
.title--light {
  color: #ffffff;
}
.title--thin {
  font-weight: 400;
}
.title--company {
  font-weight: 500;
}
.title--position {
  font-weight: 400;
  text-transform: uppercase;
  font-size: 1.5em;
}
.title--university {
  font-weight: 400;
  font-size: 1.3em;
}

.link {
  color: inherit;
}

.container--section {
  padding: 30px 50px;
}

.contacts {
  background-color: #36424e;
  color: #ffffff;
}

.photo {
  width: 400px;
  border-radius: 50%;
}

.photo-box {
  width: 430px;
  height: 430px;
  max-width: 100%;
  border-radius: 50%;
  background-image: linear-gradient(to bottom, #0067ff 50%, #ffe400 50%, #ffe400);
  margin: 0 auto 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.contacts__title {
  margin-bottom: 15px;
}

.contacts__list {
  font-size: 1.15em;
}

.contacts__item {
  padding-top: 20px;
  padding-bottom: 20px;
}
.contacts__item:nth-child(n+2) {
  border-top: 1px solid #ffffff;
}

.contacts__link {
  display: flex;
  align-items: center;
  transition: color 250ms;
}
.contacts__link:hover, .contacts__link:focus {
  color: #ceae82;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 15px;
}

.skills {
  background-color: #ceae82;
  color: #ffffff;
}

.skills__title {
  margin-bottom: 20px;
}

.skills__list {
  list-style-type: "- ";
}

.skills__item:nth-child(n+2) {
  margin-top: 6px;
}

.name--mobile {
  display: none;
}

.name__title {
  font-size: 3.9em;
  text-transform: uppercase;
  font-weight: 600;
}

.experience .container--section {
  padding: 0;
}
.experience .experience__list {
  padding: 0 50px;
}
.experience h2 {
  background-color: #ceae82;
  padding-left: 50px;
  color: #ffffff;
}

.experience__item {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}

.experience__pos {
  width: 30%;
}

.experience__respons-list {
  width: 70%;
  list-style-type: "- ";
  padding-bottom: 10px;
}

.experience__period {
  position: relative;
  padding-left: 30px;
}
.experience__period:before {
  content: "";
  background: url(../../images/calendar.png) no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  display: block;
  position: absolute;
  left: 0;
}

.education .education__item {
  padding-top: 20px;
  padding-bottom: 20px;
}
.education .container--section {
  padding: 30px 0;
}
.education .education__list {
  padding: 0 50px;
}
.education h2 {
  background-color: #ceae82;
  padding-left: 50px;
  color: #ffffff;
}

@media screen and (max-width: 1520px) {
  .photo-box {
    width: 340px;
    height: 340px;
  }
  .photo-box .photo {
    width: 325px;
  }
}
@media screen and (max-width: 1200px) {
  .container {
    flex-direction: column;
  }

  .container__left {
    width: 100%;
    min-height: auto;
  }

  .container__right {
    width: 100%;
  }

  .experience__item {
    flex-direction: column;
  }
  .experience__item .experience__pos {
    width: 100%;
  }
  .experience__item .experience__respons-list {
    width: 100%;
  }

  .name {
    display: none;
  }

  .name--mobile {
    display: block;
  }

  .name__title {
    color: #ffffff;
    text-align: center;
    font-size: 3.5em;
  }
}
@media screen and (max-width: 768px) {
  .container--section {
    padding: 30px 10px;
  }

  .title {
    font-size: 1.5em;
  }

  .name--mobile .name__title {
    font-size: 2.7em;
    text-align: center;
    line-height: 1.2;
  }

  .title--company {
    line-height: 1.3;
  }

  .title--university {
    font-size: 0.9em;
  }

  .photo-box {
    width: 282px;
    height: 282px;
  }
  .photo-box .photo {
    width: 272px;
  }

  .experience .experience__list {
    padding: 0 20px;
  }

  .education .education__list {
    padding: 0 10px;
  }
}

/*# sourceMappingURL=main.css.map */
