@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&family=Source+Sans+Pro&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/modern-normalize/1.1.0/modern-normalize.min.css");
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

body {
  background-color: #ffffff;
  color: #40535f;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.container {
  max-width: 1520px;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container__left {
  width: calc(50% - 15%);
}

.title {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  font-size: 2em;
  color: #40535f;
}

.title--light {
  color: #ffffff;
}

.title--thin {
  font-weight: 400;
}

.link {
  color: inherit;
}

.container--section {
  padding: 30px 50px;
}

.contacts {
  background-color: #40535f;
  color: #ffffff;
}

.photo {
  width: 400px;
  border-radius: 50%;
}

.photo-box {
  width: 430px;
  height: 430px;
  border-radius: 50%;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(50%, #0067ff), color-stop(50%, #ffe400), to(#ffe400));
  background-image: linear-gradient(to bottom, #0067ff 50%, #ffe400 50%, #ffe400);
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts__title {
  margin-bottom: 15px;
}

.contacts__list {
  font-size: 1.15em;
}

.contacts__item {
  padding-top: 20px;
  padding-bottom: 20px;
}

.contacts__item:nth-child(n + 2) {
  border-top: 1px solid #ffffff;
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: color 250ms;
  transition: color 250ms;
}

.contacts__link:hover, .contacts__link:focus {
  color: #ceae82;
}

.contacts__icon {
  fill: currentColor;
  margin-right: 15px;
}

.skills {
  background-color: #ceae82;
  color: #ffffff;
}

.skills__title {
  margin-bottom: 20px;
}

.skills__list {
  list-style-type: "- ";
}

.skills__item:nth-child(n + 2) {
  margin-top: 6px;
}

.name__title {
  font-size: 5.9em;
}

.experience__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.experience__item:nth-last-child(n + 2) {
  border-bottom: 1px solid #40535f;
}

.experience__pos {
  width: calc(40%);
}

.experience__respons-list {
  width: calc(100% - 40%);
  list-style-type: "- ";
  padding-top: 10px;
  padding-bottom: 10px;
}
/*# sourceMappingURL=main.css.map */