body {
  background-color: $primaryBgColor;
  color: $primatyColor;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  letter-spacing: 0.04em;
}

.container {
  display: flex;

  &__left {
    width: 35%;
    min-height: 100vh;
    background-color: $thirdaryBgColor;
  }

  &__right {
    width: 65%;
  }
}

h2 {
  text-transform: uppercase;
  font-weight: 800;
}

.title {
  font-family: "Montserrat", sans-serif;
  font-size: 2em;
  color: $primatyColor;

  &--light {
    color: $secondaryColor;
  }

  &--thin {
    font-weight: 400;
  }

  &--company {
    font-weight: 500;
  }

  &--position {
    font-weight: 400;
    text-transform: uppercase;
    font-size: 1.5em;
  }

  &--university {
    font-weight: 400;
    font-size: 1.3em;
  }
}

.link {
  color: inherit;
}

.container--section {
  padding: 30px 50px;
}
