// bg colors
$primaryBgColor: #ffffff;
$secondaryBgColor: #40535f;
$thirdaryBgColor: #ceae82;

// text colors
$primatyColor: #40535f;
$secondaryColor: #ffffff;

// accent color
$accentColor: #ceae82;

// photo bg colors
$upFlagBgColor: #0067ff;
$downFlagBgColor: #ffe400;
