// bg colors
$primaryBgColor: #ffffff;
$secondaryBgColor: #36424e;
$thirdaryBgColor: #ceae82;

// text colors
$primatyColor: #36424e;
$secondaryColor: #ffffff;

// accent color
$accentColor: #ceae82;

// photo bg colors
$upFlagBgColor: #0067ff;
$downFlagBgColor: #ffe400;
